---
title:  First page
base: /
---

{% include header.html %}

          <h3>
            <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to GitHub Pages.</h3>

            <p>This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your page content here using GitHub Flavored Markdown, select a template crafted by a designer, and publish. After your page is generated, you can check out the new branch:</p>

{% capture my_include %}{% include page2content.md %}{% endcapture %}
{{ my_include | markdownify }}


{% include footer.html %}
