        <aside id="sidebar">
          <a href="https://github.com/jquintus/spikes/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/jquintus/spikes/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/jquintus/spikes">spikes</a> is maintained by <a href="https://github.com/jquintus">jquintus</a>.</p>

        </aside>
